html{
    padding: 0;
    margin: 0;
}


body {
	font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    background-color: #edf3f8;
}

div{
    display: block;
}

ul{
    list-style: none outside;
}

/* Navbar CSS */
nav{
    position: relative;
    z-index: 3;
    background-color: transparent;
}
.top-bar{
    height: 100.8;
    width: 100vw;
    display: inline-block;
}

.retina{
    padding: 20px 20px;
    width: 188px;
}

.top-bar-left a{
    padding: 20px 0px;
}

.navbar-left{
    margin-right: 20px;
}

/* Slider CSS */
.hero-slider{
    display: flex;
}

.slider-container {
    position: relative;
    z-index: 1;
	display: flex;
    right: 0;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	position: relative;
	height: 100vh;
	width: 100vw;
}

.slider-container h1 {
	color: #fff;
	font-size: 100px;
	letter-spacing: 5px;
	position: relative;
	z-index: 100;
	text-align: center;
}

.slider-container::after {
	/* content: ''; */
	position: absolute;
	top: 0;
	/* left: 50%; */
	height: 100%;
	width: 50%;
	z-index: 1;
}

.slide {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	position: absolute;
	top: 0;
	/* left: 50%; */
	opacity: 0;
	height: 100%;
	width: 50%;
	transform: scale(1.15);
	transition: opacity .6s ease;
}

.slide.active {
	animation: grow 4s linear forwards;
	opacity: 1;
}

@keyframes grow {
	0%, 20% {
		transform: scale(1);
	}
	
	75%, 100% {
		transform: scale(1.15);
	}
}

.controls-container {
	position: absolute;
	top: 50%;
	right: 10px;
	display: flex;
	flex-direction: column;
	transform: translateY(-50%);
	z-index: 2;
}

.control {
    position: relative;
    border: 3px solid white;
	cursor: pointer;
	opacity: 0.5;
	margin: 6px;
	height: 16px;
	width: 16px;
    border-radius: 50%;
    overflow: hidden;
	transition: opacity 0.3s, background-color 0.3s, transform 0.3s;
}

.control::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 0;
    width: 100%;
    background-color: #fff;
    transition: height 0.8s ease;
}

.control.active::before,
.control:hover::before{
    height: 100%;
}

.control.active,
.control:hover {
    opacity: 1;
}

.content {
    background-repeat: no-repeat;
}

/* Content CSS */

/* MCB Section  */
.mcb-section{
    background-image: url('images/clean-home-horizontal-bg2.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.mcb-section img{
    position: relative;
    transform: translate(50% 50%);
}

.mcb-column{
    /* margin: 0 1% 40px 1%; */
    border: 14px solid black;
}

.mcb-container{
    /* margin: 0 auto; */
}

/* Footer CSS */
footer{
    color: black;
    background-color: inherit;
    bottom: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    margin-top: auto;
    width: 100%;
    align-items: center;
}

#Footer .container{
    max-width: 1060px;
}

footer .widgets-wrapper{
    text-align: center;
    padding: 100px 0 50px;
}

footer .no-line{
    color: transparent;
}

footer a{
    color: #2e5aa8;
}
.footer-copy{
    border-top: 0.8 solid rgba(255,255,255,0.1);
    margin-top: 30px;
    padding: 15px 0 15px;
}

footer .footer-copy .container2{
    max-width: 1060px;
}

footer .footer-copy .container2{
    position: relative;
    font-family: inherit;
    margin: 0 auto;
}

footer .column.one{
    margin: 0 10px 0 10px;
}

footer .social-menu{
    display: flex;
    float: right;
    margin-right: 20px;

}

footer ul{
    vertical-align: baseline;
}

footer .social-menu li{
    display: block;
    margin-right: 6px;
    padding-right: 6px;
    box-sizing: border-box;
}